---
import Whatsapp from '../icons/Whatsapp.astro'
---

<a
  class='z-40 w-12 h-12 hidden items-center justify-center fixed right-10 bottom-10 rounded-full bg-[#F0C000] sm:flex 2xl:w-20 2xl:h-20 2xl:bottom-20 2xl:right-20'
  href='/'
>
  <Whatsapp />
</a>
