<div
  class='z-30 mt-auto w-8 h-12 border-2 border-white rounded-full flex items-start justify-center 2xl:w-12 2xl:h-20'
>
  <div
    class='mt-3 w-1 h-3.5 bg-[#F0C000] rounded-full animate-bounce 2xl:mt-4 2xl:w-1.5 2xl:h-5'
  >
  </div>
</div>
