---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import Services from '../components/Services.astro'
import Contact from '../components/Contact.astro'
import Book from '../components/Book.astro'
import ButtonWhatsapp from '../components/items/ButtonWhatsapp.astro'
import Home from '../components/Home.astro'
import About from '../components/About.astro'
---

<Layout title='Unlimited BBQ'>
  <main class='bg-black'>
    <Home />
    <About />
    <Services />
    <Contact />
    <Footer />
    <Book />
    <ButtonWhatsapp />
  </main>
</Layout>
