<nav
  class='z-50 mx-auto mt-8 mb-8 w-10/12 h-auto text-xl flex items-center justify-between sm:hidden'
>
  <img class='m-0 w-24 h-auto' src='/logo.webp' alt='Logo' />
  <div id='open-nav' class='m-0 w-auto h-auto flex flex-col'>
    <div class='mx-auto my-1 w-4 h-0.5 rounded-lg bg-white'></div>
    <div class='mx-auto my-1 w-6 h-0.5 rounded-lg bg-white'></div>
    <div class='mx-auto my-1 w-4 h-0.5 rounded-lg bg-white'></div>
  </div>
  <ul
    id='nav-mobile'
    class='z-50 m-0 w-1/2 h-full flex-col items-center justify-center bg-black fixed top-0 right-0'
  >
    <a
      id='close-nav'
      class='mx-auto mb-8 w-10 h-10 flex bg-neutral-600 rounded-full hover:bg-primal-color'
      ><div class='m-auto w-6 h-1 rounded-lg bg-black'></div></a
    >
    <li class='mx-auto my-7'>
      <a href='#sobre-nosotros' class='text-white hover:text-primal-color'
        >Sobre Nosotros</a
      >
    </li>
    <li class='mx-auto my-7'>
      <a href='#servicios' class='text-white hover:text-primal-color'
        >Servicios</a
      >
    </li>
    <li class='mx-auto my-7'>
      <a href='#team' class='text-white hover:text-primal-color'
        >Nuestro Equipo</a
      >
    </li>
  </ul>
</nav>
