<nav
  class='z-30 w-full text-xl hidden flex-col items-center justify-items-center gap-4 sm:flex 2xl:gap-5'
>
  <div class='h-px w-full bg-white'></div>
  <ul class='w-full flex items-center justify-around'>
    <li>
      <a
        href='#sobre-nosotros'
        class='font-semibold text-lg text-white hover:text-[#F0C000] transition xl:text-lg 2xl:text-2xl'
        >SOBRE NOSOTROS</a
      >
    </li>
    <li>
      <a
        href='#servicios'
        class='font-semibold text-lg text-white hover:text-[#F0C000] transition xl:text-lg 2xl:text-2xl'
        >SERVICIOS</a
      >
    </li>
    <li>
      <a
        href='#contacto'
        class='font-semibold text-lg text-white hover:text-[#F0C000] transition xl:text-lg 2xl:text-2xl'
        >CONTACTO</a
      >
    </li>
  </ul>
  <div class='h-px w-full bg-white'></div>
</nav>
