<article
  id='sobre-nosotros'
  class='p-12 w-full grid grid-cols-1 gap-10 sm:grid-cols-2 sm:gap-0 xl:p-24 2xl:p-36'
>
  <aside class='flex flex-col justify-center gap-2 xl:gap-4'>
    <h3
      class='text-2xl text-left font-bold text-[#F0C000] xl:text-4xl 2xl:text-6xl'
    >
      SOBRE NOSOTROS
    </h3>
    <p
      class='text-xs text-left font-light text-white xl:text-xl xl:max-w-lg 2xl:text-3xl 2xl:max-w-3xl'
    >
      Fundada en 2019 por un grupo de jovenes yumbeños nace Unlimited BBQ, un
      restaurante especializado en carnes a la parrilla, hoy sueñan con
      convertirse en el mejor BBQ de Colombia.
    </p>
  </aside>
  <section class='w-full h-auto grid place-content-center'>
    <img
      class='w-full h-auto max-w-[260px] xl:max-w-md 2xl:max-w-xl'
      src='/steak.webp'
      alt=''
    />
  </section>
</article>
